<!DOCTYPE HTML>
<html xlmns:th="http://www.thymeleaf.org">
<head>
    <title>B2B</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet"  th:href="@{/css/header.css}">
    <link rel="stylesheet"  th:href="@{/css/b2b.css}">
    <link rel="stylesheet"  th:href="@{/css/make.css}">
    <link rel="stylesheet"  th:href="@{/css/phone.css}">
    <link th:href="@{/css/foundation.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/twentytwenty-no-compass.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <div class="headerdiv">

        <div class="headerlinks">
            <a class="headerlink" href="/">
                <img th:src="@{/img/header.png}">
            </a>
            <a class="headerlink" href="/catalog">Каталог</a>

            <a class="headerlink" href="/make">Покрасим ваши</a>
            <a class="headerlink" id="login" href="/login">Войти</a>
            <a class="headerlink" id="cart" href="/cart">Корзина</a>
            <a class="headerlink" href="/btob">B2B</a>
            <a class="headerlink" href="/galery">Галерея</a>
        </div>
    </div>
</header>

<main>
<div class="biglabel">
    <p>ДЛЯ БИЗНЕСА</p>
</div>
<div class="aboutus">
    <p><span style="color: #F00;">Custom Apple</span> сможет сделать уникальный подарок с логотипом <span style="color: #F00;">вашей компании или бренда</span> в крупных партиях за <br> минимальное количество времени. AirPods с дизайном вашей организации помогут внедрить новые системы <br> мотивации для сотрудников, сделать качественный подарок партнёру или крупному клиенту, а также ещё больше <br> повысить лояльность, статус и закрепить <span style="color: #F00;">приятную ассоциацию</span>. <br><br>

        В день мы красим более <span style="color: #F00;">100 наушников</span>, так что больших заказов мы не боимся.</p>
</div>

    <div class="kartinka">
        <img src="img/123123.png" alt="img"/>
    </div>

<div class="sendform">
    <div class="input-container">
        <input class="inputname" type="text" id="my-input">
        <label for="my-input" class="gray-label">Имя</label>

    </div>
    <div class="input-container">
        <input class="inputname" type="text" id="telephoneinput">

    </div>

</div>
<div class="middlebuttondiv">
    <button class="middlebutton" onclick="alert('Заявка отправлена')" > Начать сотрудничать</button>
</div>
</main>
<footer>
    <div class="footerdiv">
        <div class="footermain">
            <h1>Контакты</h1>
        </div>
        <div class="footercontacts">
            <div class="marginleft">
                <p>Телефон</p>
                <p class="phonea">+7 993 604-29-74</p>
            </div>
            <div class="marginleft">
                <p>WhatsApp:</p>
                <p class="whatsuppa">+7 993 604-29-74</p>
            </div>
            <div class="marginleft">
                <p>Telegram:</p>
                <p>@custompods - Менеджер</p>
                <p>https://t.me/customapplepods - Наш канал</p>
            </div>
        </div>
    </div>



</footer>

<script th:src="@{/js/iflogin.js}"></script>
<script th:src="@{/js/telephone.js}"></script>

<script>

    const input = document.querySelector("#telephoneinput");
    window.intlTelInput(input, {
      initialCountry: "auto",
      geoIpLookup: function(callback) {
      fetch("https://ipapi.co/json")
      .then(function(res) { return res.json(); })
      .then(function(data) { callback(data.country_code); })
      .catch(function() { callback("us"); });

  },
  nationalMode: true,
  formatOnDisplay: true,

      utilsScript: "js/utils.js",



    });
</script>


</body>
</html>