<!DOCTYPE HTML>
<html xlmns:th="http://www.thymeleaf.org">
<head>
    <title>Каталог</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet"  th:href="@{/css/header.css}">
    <link rel="stylesheet"  th:href="@{/css/catalog.css}">
</head>
<body>
<header>
    <div class="headerdiv">

        <div class="headerlinks">
            <a class="headerlink" href="/">
                <img th:src="@{/img/header.png}">
            </a>
            <a class="headerlink" href="/catalog">Каталог</a>

            <a class="headerlink" href="/make">Покрасим ваши</a>
            <a class="headerlink" id="login" href="/login">Войти</a>
            <a class="headerlink" id="cart" href="/cart">Корзина</a>
            <a class="headerlink" href="/btob">B2B</a>
            <a class="headerlink" href="/galery">Галерея</a>
        </div>
    </div>
</header>

<main>
<div id="checkboxContainer">
    <div class="category">
        <input type="checkbox" id="airpods 2" value="airpods2" name="airpods 2" onchange="handleCheckboxChange(this)">
        <label for="airpods 2">AirPods 2</label><br>
    </div>
    <div class="category">
        <input type="checkbox" id="airpods 3" value="airpods3" name="airpods 3" onchange="handleCheckboxChange(this)">
        <label for="airpods 3">AirPods 3</label><br>
    </div>
    <div class="category">
        <input type="checkbox" id="airpods pro 1" value="airpodspro1" name="airpods pro 1" onchange="handleCheckboxChange(this)">
        <label for="airpods pro 1">AirPods Pro</label><br>
    </div>
    <div class="category">
        <input type="checkbox" id="airpods pro 2" value="airpodspro2" name="airpods pro 2" onchange="handleCheckboxChange(this)">
        <label for="airpods pro 2">AirPods Pro 2</label><br>
    </div>
    <button class="search" id="searchbutton" onclick="search()"> Поиск</button>
</div>
<div class="products" id="products">
    <div th:each="product: ${products}" class="product">
        <a th:href="@{'/product?productid='+${product.id}}">
            <div class="productimages">
                <img th:src="@{'/images/products/'+${product.imagePath}}" class="thumbnail">
                <img th:src="@{'/images/products/'+${product.previewPath}}" class="preview">
            </div>
        </a>
        <div class="productflex">
            <div class="productname">
                <p th:text="${product.name}"></p>
            </div>
            <div class="productprices">
                <p th:text="${product.price+' Рублей'}"></p>
            </div>
            <div class="productbuttons">
                <button class="productbuy" th:attr="onclick=|addCart(${product.id})|">В корзину</button>
            </div>
        </div>
    </div>
</div>
<div class="flex-next">
<button style="width: 50vw" class="search" id="nextpage" onclick="nextpage()"> следующая страница</button>
</div>
</main>
<footer>
    <div class="footerdiv">
        <div class="footermain">
            <h1>Контакты</h1>
        </div>
        <div class="footercontacts">
            <div class="marginleft">
                <p>Телефон</p>
                <p class="phonea">+7 993 604-29-74</p>
            </div>
            <div class="marginleft">
                <p>WhatsApp:</p>
                <p class="whatsuppa">+7 993 604-29-74</p>
            </div>
            <div class="marginleft">
                <p>Telegram:</p>
                <p>@custompods - Менеджер</p>
                <p>https://t.me/customapplepods - Наш канал</p>
            </div>
        </div>
    </div>



</footer>
<script>
    function nextpage() {
        // Преобразуем текущий URL из строки в объект URL
        let url = new URL(window.location.href);

        // Пытаемся получить параметр 'page' из URL
        let currentPage = parseInt(url.searchParams.get("page"));

        // Проверяем, есть ли параметр 'page'
        if (isNaN(currentPage)) {
            // Если параметра 'page' нет, устанавливаем его равным 2
            url.searchParams.set("page", 2);
        } else {
            // Если параметр 'page' есть, увеличиваем его на 1
            url.searchParams.set("page", currentPage + 1);
        }

        // Обновляем URL в адресной строке без перезагрузки страницы
        window.location.href = url.href;

        //window.history.pushState({}, '', url);
        console.log(url);
    }
</script>
<script>
    function search(){
        let hreeef = "/catalog";
        if (selectedItems.length===0){

        }
        else {
            hreeef+="?category=";
            for (let i =0;i<selectedItems.length;i++){
                if (i==0){
                    hreeef+=selectedItems[0];
                }
                else {
                    hreeef+="pon";
                    hreeef+=selectedItems[i];
                }
            }
            window.location.href = hreeef;

        }
    }
</script>
<script>
    let selectedItems = [];

    function handleCheckboxChange(checkbox) {
        if (checkbox.checked) {
            selectedItems.push(checkbox.value);
        } else {
            const index = selectedItems.indexOf(checkbox.value);
            if (index > -1) {
                selectedItems.splice(index, 1);
            }
        }

        // Для примера: выведем выбранные элементы в консоль
        console.log("Выбранные элементы:", selectedItems);
    }
</script>
<script th:src="@{/js/iflogin.js}"></script>
<script>
    function addCart(productId){
        var userId = getCookieValue('userId');
        if(userId===""){
            alert("войдите в аккаунт")
            return ;
        }


        const formData = new FormData();
        formData.append("userid",userId);
        formData.append("productid",productId);
        const response = fetch("/api/cart/add",{
            method: "POST",
            body: formData,
        });
        if (response.ok) {

        } else {

        }
        alert("Продукт добавлен в корзину");
    }
</script>




</body>
</html>