<!DOCTYPE HTML>
<html xlmns:th="http://www.thymeleaf.org">
<head>
    <title>Custom Apple Магазин кастомизированных наушников</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet"  th:href="@{/css/header.css}">
    <link rel="stylesheet"  th:href="@{/css/mainpage.css}">
</head>
<body>
<header>
    <div class="headerdiv">

        <div class="headerlinks">
            <a class="headerlink " href="/">
                <img class="headerimg" th:src="@{/img/header.png}">
            </a>
            <a class="headerlink" href="/catalog">Каталог</a>

            <a class="headerlink" href="/make">Покрасим ваши</a>
            <a class="headerlink" id="login" href="/login">Войти</a>
            <a class="headerlink" id="cart" href="/cart">Корзина</a>
            <a class="headerlink" href="/btob">B2B</a>
            <a class="headerlink" href="/galery">Галерея</a>
        </div>
    </div>
</header>
<main>
<div class="logobackground">
    <div class="divlogo">
        <p class="divlogobigfont">Цветные ОРИГИНАЛЬНЫЕ AirPods</p>
        <p class="divlogosmallfont">СДЕЛАЕМ ИЗ ВАШИХ НАУШНИКОВ - ПРЕДМЕТ ИССКУСТВА</p>
        <div>
            <button onclick="redirectToCatalogPage()" class="divlogobuy">Купить</button>
            <button onclick="redirectToColorPage()" class="divlogoorder">ЗАКАЗАТЬ покраску своих</button>
        </div>

    </div>
</div>
<div class="biglabel">
    <p>УНИВЕРСАЛЬНОЕ ПРЕДЛОЖЕНИЕ</p>
</div>
<div class="center">
    <div class="products" id="universals">
    <div th:each="product: ${universal}" class="product">
        <a th:href="@{'/product?productid='+${product.id}}">
        <div class="productimages">
            <img th:src="@{'/images/products/'+${product.imagePath}}" class="thumbnail">
            <img th:src="@{'/images/products/'+${product.previewPath}}" class="preview">
        </div>
        </a>
        <div class="productflex">
            <div class="productname">
                <p th:text="${product.name}"></p>
            </div>
            <div class="productprices">
                <p th:text="${product.price+' Рублей'}"></p>
            </div>
            <div class="productbuttons">
                <button class="productbuy" th:attr="onclick=|addCart(${product.id})|">В корзину</button>
            </div>
        </div>
    </div>





    </div>
</div>
<div class="biglabel">
    <p>ВЫБОР НАШИХ ДИЗАЙНЕРОВ</p>
</div>
<div class="center">
    <div th:each="product: ${designer}" class="product">
        <a th:href="@{'/product?productid='+${product.id}}">
            <div class="productimages">
                <img th:src="@{'/images/products/'+${product.imagePath}}" class="thumbnail">
                <img th:src="@{'/images/products/'+${product.previewPath}}" class="preview">
            </div>
        </a>
        <div class="productflex">
            <div class="productname">
                <p th:text="${product.name}"></p>
            </div>
            <div class="productprices">
                <p th:text="${product.price+' Рублей'}"></p>
            </div>
            <div class="productbuttons">
                <button class="productbuy" th:attr="onclick=|addCart(${product.id})|">В корзину</button>
            </div>
        </div>
    </div>
</div>
<div class="middlebuttondiv">
    <button class="middlebutton" onclick="redirectToCatalogPage()"> В КАТАЛОГ</button>
</div>
<div class="blacklinediv">
    <div class="blacktext">
        <p>Не нашли нужный дизайн? Хотите преобразить свои наушники в уникальную вещь?<br>
            Не проблема - сделаем на заказ. Пришлём макет уже сегодня.</p>
    </div>
    <button onclick="redirectToColorPage()" class="blackbutton">ЗАКАСТОМИТЬ СВОИ</button>
</div>

<div class="biglabel">
    <p>F.A.Q.</p>
</div>
<div class="container mt-5  justify-content-center">
    <div id="accordion">
        <div class="card  text-black">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn bg-transparent text-black collapsed " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Гарантия
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Так как мы ценим абсолютно каждого клиента мы продаём и красим только оригинальные Apple AirPods.
                    Именно поэтому даём годовую гарантию на наушники и полгода на покрытие и дизайн.                </div>
            </div>
        </div>
        <div class="card  text-black">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn bg-transparent text-black collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Доставка
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Ты можешь приехать в наш шоурум в Москве, заказать доставку курьером по Москве или СДЭК по регионам России.
                    Кстати, по всему миру мы тоже отправляем. Пиши нашим менеджерам, они тебя сориентируют.                </div>
            </div>
        </div>
        <div class="card  text-black">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn bg-transparent text-black collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Время выполнения работ
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Однотонные цвета абсолютно всегда есть в наличии.
                    А покраска по индивидуальному дизайну с надписью и гравировкой занимает от 2 рабочих дней.                </div>
            </div>
        </div>
        <div class="card  text-black" >
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn bg-transparent text-black collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Какие наушники можно покрасить
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    Как мы и говорили, на покраску принимаются только оригинальные AirPods и без глубоких царапин.
                    Если твои наушники сильно загрязнены, советуем принести их к нам на чистку.                </div>
            </div>
        </div>
        <div class="card  text-black" >
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn bg-transparent text-black collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Оплата
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    Оплатить заказ можно связавшись с менеджером на сайте или в соц. сетях.
                    У нас можно оплатить товар даже криптовалютой.                </div>
            </div>
        </div>
        <div class="card  text-black" >
            <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                    <button class="btn bg-transparent text-black collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Приобрести оригинальные белые наушники или обновить цвет на своих
                    </button>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                    Конечно, у нас можно приобрести оригинальные Apple AirPods любых моделей.
                    Обновить белый цвет тоже можно, но только в глянцевый и с небольшим отличием оттенка от оригинального.              </div>
            </div>
        </div>
    </div>
</div>
</main>
<footer>
    <div class="footerdiv">
        <div class="footermain">
        <h1>Контакты</h1>
        </div>
        <div class="footercontacts">
            <div class="marginleft">
                <p>Телефон</p>
                <p class="phonea">+7 993 604-29-74</p>
            </div>
            <div class="marginleft">
                <p>WhatsApp:</p>
                <p class="whatsuppa">+7 993 604-29-74</p>
            </div>
            <div class="marginleft">
                <p>Telegram:</p>
                <p>@custompods - Менеджер</p>
                <p>https://t.me/customapplepods - Наш канал</p>
            </div>
        </div>
    </div>



</footer>


<script>
    function redirectToCatalogPage() {
    window.location.href = "/catalog";
}
function redirectToColorPage(){
    window.location.href = "/make"
}
</script>

<script th:src="@{/js/iflogin.js}"></script>
<script>
    function addCart(productId){
        var userId = getCookieValue('userId');
        if(userId===""){
            alert("войдите в аккаунт")
            return ;
        }


        const formData = new FormData();
        formData.append("userid",userId);
        formData.append("productid",productId);
        const response = fetch("/api/cart/add",{
            method: "POST",
            body: formData,
        });
        if (response.ok) {

        } else {

        }
        alert("Продукт добавлен в корзину")
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>