<!DOCTYPE HTML>
<html xlmns:th="http://www.thymeleaf.org">
<head>
    <title>Профиль</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet"  th:href="@{/css/header.css}">
    <link rel="stylesheet"  th:href="@{/css/profile.css}">
</head>
<body>
<header>
    <div class="headerdiv">

        <div class="headerlinks">
            <a class="headerlink" href="/">
                <img th:src="@{/img/header.png}">
            </a>
            <a class="headerlink" href="/catalog">Каталог</a>

            <a class="headerlink" href="/make">Покрасим ваши</a>
            <a class="headerlink" id="login" href="/login">Войти</a>
            <a class="headerlink" id="cart" href="/cart">Корзина</a>
            <a class="headerlink" href="/btob">B2B</a>
            <a class="headerlink" href="/galery">Галерея</a>
        </div>
    </div>
</header>
<main>
<div class="columnstyle">
    <h1 id="hello">Добро пожаловать,</h1>
    <h1 th:text="${login}"></h1>
    <div class="image">
        <img th:src="@{'/images/avatars/'+${image}}" alt="Изображение" class="rounded" width="300" >
        <input type="file" id="file-input" class="form-control form-control-sm" style="display: none;" />
        <label for="file-input" class="input">
            <span id="file-label">Изменить картинку</span>
        </label>
        <button class="save-class">Сохранить картинку</button>
    </div>

    <a id="gotocart" class="gotocart" href="/cart">Перейти в корзину</a>
    <button onclick="deleteAllCookies()">Выйти</button>
</div>
</main>
<footer>
    <div class="footerdiv">
        <div class="footermain">
            <h1>Контакты</h1>
        </div>
        <div class="footercontacts">
            <div class="marginleft">
                <p>Телефон</p>
                <p class="phonea">+7 993 604-29-74</p>
            </div>
            <div class="marginleft">
                <p>WhatsApp:</p>
                <p class="whatsuppa">+7 993 604-29-74</p>
            </div>
            <div class="marginleft">
                <p>Telegram:</p>
                <p>@custompods - Менеджер</p>
                <p>https://t.me/customapplepods - Наш канал</p>
            </div>
        </div>
    </div>



</footer>
<script>
    function deleteAllCookies() {
var cookies = document.cookie.split(";");

for (var i = 0; i < cookies.length; i++) {
var cookie = cookies[i];
var eqPos = cookie.indexOf("=");
var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/";
}
window.location.href = "/login";
}
</script>
<script th:src="@{/js/iflogin.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var gotocart = document.getElementById("gotocart");
        gotocart.href="/cart?id="+getCookieValue('userId');
        // Ваши скрипты здесь
    });

</script>

<script>


    const saveImageButton = document.querySelector(".save-class");

    saveImageButton.addEventListener("click", async () => {
      const formData = new FormData();
      const userId = document.cookie.match(/userId=([^;]+)/)?.[1];
     const filee = document.getElementById("file-input");
      formData.append("file", filee.files[0]);
      formData.append("userId",userId);

      const response = await fetch("/api/image/profile", {
        method: "POST",
        body: formData,
      });

      if (response.ok) {
        location.href = "/profile?id="+userId;
        // ...
      } else {
        // Обработайте ошибку загрузки
        // ...
      }
    });
</script>
</body>
</html>