<!DOCTYPE HTML>
<html xlmns:th="http://www.thymeleaf.org">
<head>
    <title>main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet"  th:href="@{/css/header.css}">
    <link rel="stylesheet"  th:href="@{/css/catalog.css}">
</head>
<body>
<header>
    <div class="headerdiv">

        <div class="headerlinks">
            <a class="headerlink" href="/catalog">Каталог</a>
            <a class="headerlink" href="/">О нас</a>
            <a class="headerlink" href="/make">Покрасим ваши</a>
            <a class="headerlink" id="login" href="/login">Войти</a>
            <a class="headerlink" href="/cart">Корзина</a>
        </div>
    </div>
</header>
<div class="formdiv">
    <div class="form">
        <div class="input">
            <label for="login">Логин</label>
            <input class="inputbox" type="text" id="loginn" name="login">
        </div>
        <div class="input">
            <label for="password">Пароль</label>
            <input class="inputbox" type="password" id="password" name="password">
        </div>
        <div class="input">
            <label for="confirmPassword">Подтвердите пароль</label>
            <input class="inputbox" type="password" id="confirmPassword" name="confirmPassword">
        </div>
        <button onclick="sendData()">Зарегистрироваться</button>
    </div>
    <p>Уже зарегистрированы? <a href="login.html">Войдите</a>.</p>
</div>
<script>
    function sendData() {
var loginValue = document.getElementById("loginn").value;
var passwordValue = document.getElementById("password").value;
var confirmPassword = document.getElementById("confirmPassword").value;

if (confirmPassword !== passwordValue || passwordValue.length < 6 || loginValue.length < 6) {
alert("Пароли не совпадают или логин/пароль меньше 6 символов");
return;
}

var url = 'http://5.39.32.179:8080/registration' + '?login=' + encodeURIComponent(loginValue) + '&password=' + encodeURIComponent(passwordValue);
console.log(url);

fetch(url, {
method: 'POST',
headers: {
    'Content-Type': 'application/json'
},

})
.then(response => {
if (!response.ok) {
    throw new Error('Ошибка сети');
}
return response.json();
})
.then(data => {
window.location.href = "login.html"
})
.catch(error => {
console.error('Произошла ошибка:', error);
alert('Ошибка при выполнении запроса.');
});
}
</script>
<script src="js/iflogin.js"></script>
</body>
</html>